h1 {
  color: blue;
}
#output{
    color:red;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: 1px solid black;
    table-layout: fixed;
}
#tableName{
    text-align: center;
}
#row1, #diagRow, #col1{
    background-color: yellow;
    font-weight: bold;
}
#rowHead, #colHead{
    border:none;
    background-color: green;
}